body {
    background-color: darkgrey;
}

#top_title {
    height: 175px;
    width: 1200px;
    position: relative;
    background-color: 909091;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    box-shadow: 5px 5px;
}

#titleimage {
    position: absolute;
    height: 175px;
    width: 600px;
    left: 10px;
}

#loupe {
    position: absolute;
    width: 200px;
    height: 175px;
    right: 25px;
}

#reload {
    position: absolute;
    right: 10px;
    top: 10px;
}

#close {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#mainpart {
    width: 1150px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
}


#left_menu {
    position: absolute;
    top: 15px;
    left: 0;
    height: auto;
    width: 75px;
    padding: 25px;
    background-color: 909091;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    box-shadow: 5px 5px;
}

#right_menu {
    position: absolute;
    top: 15px;
    right: 0px;
    height: 400px;
    width: 75px;
    text-align: center;
    padding: 25px;
    background-color: 909091;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    box-shadow: 5px 5px;
}

#cluster {
    position: absolute;
    top: 15px;
    padding: 10px;
    left: 137px;
    background-color: 909091;
    background-position: center;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    box-shadow: 5px 5px;
}

#eye {
    border-style: solid;
    border-color: red;
}

#greenbox {
    height: 130px;
    width: 1200px;
    position: relative;
    top: 550px;
    margin-right: auto;
    margin-left: auto;
}

#form {
    height: 130px;
    width: 400px;
    background-color: #b3ffb3;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

#chairsquare {
    position: absolute;
    top: 350px;
    left: 275px;
    height: 250px;
    width: 100px;
}

#computersquare {
    position: absolute;
    top: 350px;
    right: 30px;
    height: 160px;
    width: 155px;
}

.rightitemcenter{
    display: block;
    text-align: center;
}