*{
    margin :0px;
    padding:0px;
  }
  body {
    background-color: blanchedalmond;
  }
  #container {
    width: 305px;
    margin: 0 auto;
    background-color: coral;
  }
  #container ul {
    list-style: none;
  }
  #container ul li {
    background-color: aqua;
    width: 150px;
    border: 1px solid white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 15px;
  }
  #container ul li:hover {
    background-color: red;
  }
  #container ul ul{
    display: none;
  }
  #container ul li:hover > ul{
    display: block
  }